@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ancient Medium';
  src: url('./assets/webkit-fonts/ancient_medium-webfont.woff') format('woff'),
    url('./assets/webkit-fonts/ancient_medium-webfont.woff2') format('woff2'),
    url('./assets/webkit-fonts/ancient-medium.ttf') format('truetype');
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222222;
}

.logo {
  font-family: 'Ancient Medium', serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e7e7e7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7b7b7b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222222;
}
