@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ancient Medium';
  src: url('./assets/webkit-fonts/ancient_medium-webfont.woff') format('woff'),
    url('./assets/webkit-fonts/ancient_medium-webfont.woff2') format('woff2'),
    url('./assets/webkit-fonts/ancient-medium.ttf') format('truetype');
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222222;
}

.logo {
  font-family: 'Ancient Medium', serif;
  font-size: 24px;
}
